$tokyo-colors: 
("white",white),
("dark-blue",#83001e),
("light-blue",#a3e4f3),
("grey", #43434d),
("red", #ff0033),
("new-blue", #00002c),
("mint", hsl(147, 92%, 15%));

@each $color in $tokyo-colors {
  .is-#{nth($color,1)}-bg{
    background-color: nth($color,2) !important;
  }
  .is-#{nth($color,1)}{
    color: nth($color,2) !important;
  }
}

$joie-colors: 
("blue", rgb(16, 97, 100)),
("yellow",#d4b527);

@each $color in $joie-colors {
  .is-j-#{nth($color,1)}-bg{
    background-color: nth($color,2) !important;
  }
  .is-j-#{nth($color,1)}{
    color: nth($color,2) !important;
  }
}

$honeydew-colors: 
("red", #E84747),
("pink",#E8DEED),
("green",#ABC6BF),
("light-blue",rgb(154, 173, 191)),
("dark-blue",#202C39);

@each $color in $honeydew-colors {
  .honeydew-#{nth($color,1)}-bg{
    background-color: nth($color,2) !important;
  }
  .honeydew-#{nth($color,1)}{
    color: nth($color,2) !important;
  }
}


