$tokyo-colors: 
("white",white),
("dark-blue",#83001e),
("light-blue",#a3e4f3),
("grey", #43434d),
("red", #ff0033),
("new-blue", #00002c),
("mint", #73daa0);

@each $color in $tokyo-colors {
  .is-#{nth($color,1)}-bg{
    background-color: nth($color,2) !important;
  }
  .is-#{nth($color,1)}{
    color: nth($color,2) !important;
  }
}

$joie-colors: 
("blue", rgb(9, 143, 148)),
("yellow",#d4b527);

@each $color in $joie-colors {
  .is-j-#{nth($color,1)}-bg{
    background-color: nth($color,2) !important;
  }
  .is-j-#{nth($color,1)}{
    color: nth($color,2) !important;
  }
}




